<%= render "shared/header" %>

<div class="profile-wrap">
  <div class="row">
    <div class="col-md-4 text-center">
      <%= form_with model: @user, local: true do |f| %>
      <%# <% if @user.avater.attached? %>
        <%#= image_tag @user.avater, class: "round-img" %>
      <%# else %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-circle round-img" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
      <%# <% end %>
      <label for="formFileSm" class="form-label"><%= f.file_field :avater %></label>
    </div>
    <div class="col-md-8">
      <div class="row">
          <h1><%= f.text_field :name, class: 'form-control' %></h1>
        <div class="row aline-items-center">
          <div class="col-md-4 profile-colums">
            Camera: <%=  f.text_field :camera, class: 'form-control'  %> 
          </div>
          <div class="col-md-4 profile-colums">
            Camera Career: <%=  f.text_field :camera_carrer, class: 'form-control' %>
          </div>
          <div class="col-md-4 profile-colums">
            Model Career: <%=  f.text_field :model_carrer, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="form-group">
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  </div>
<% end %>


<%= link_to t('.back'), :back %>