<%= render "shared/header" %>

<%  %>
<div class="my-3 p-3 bg-body rounded shadow-sm">
  <h6 class="border-bottom pb-2 mb-0">Recent updates</h6>
  
  <% @boards.each do |board| %>
    <div class="card mb-2">
      <div class="card-body">
        <h3 class="card-title d-flex p-3">
          <%= link_to image_tag(board.user.avatar, class:'index-round-img'), user_path(board.user.id) %>
      
          <div class="pt-4 mb-0 lh-sm">
            <strong>
              <%= link_to board.user.name, user_path(board.user.id), class:'index-user-name' %>
            </strong>
          </div>
        </h3>

        <div class="row justify-content-center">
          <h4 class="card-title col-10 mb-3 lh-sm">
            <%= board.title %>
          </h4>
        </div>

        <div class="row justify-content-end">
          <h6 class="card-subtitle col-md-4 mb-2 text-muted">
            Wanted: <%= board.want.name %>
          </h6>
          <h6 class="card-subtitle col-md-3 mb-2 text-muted">
            prefecture: <%= board.prefecture.name %>
          </h6>
          <div class="col-md-4 text-muted p-3 lh-sm">
            <%= board.created_at %>
          </div>
        </div>
        <div class="row justify-content-center">
          <p class="card-text col-10 text-muted pb-3 mb-0 lh-sm">
            <%= board.content.truncate(100)%>
          </p>
        </div>
      </div>
    </div>
  <% end %>

  <small class="d-block text-end mt-3">
    <a href="#">All updates</a>
  </small>
</div>