<%= render "shared/header" %>

  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">Recent updates</h6>
    
  <div class="scroll-list jscroll">
    <% @boards.each do |board| %>
      <div class="card mb-2">
        <div class="card-body">
          <h3 class="card-title d-flex p-3">
            <%= link_to image_tag(board.user.avatar, class:'index-round-img'), user_path(board.user.id) %>
        
            <div class="pt-4 mb-0 lh-sm">
              <strong>
                <%= link_to board.user.name, user_path(board.user.id), class:'index-user-name' %>
              </strong>
            </div>
          </h3>

          <div class="row justify-content-center">
            <h4 class="card-title col-10 mb-3 lh-sm">
              <%= board.title %>
            </h4>
          </div>

          <div class="row justify-content-end">
            <h6 class="card-subtitle col-7 mb-2 text-muted">
              Wanted: <%= board.want.name %>
            </h6>
            <h6 class="card-subtitle col-4 mb-2 text-muted">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
              <%= board.prefecture.name %>
            </h6>
          </div>
            <div class="row justify-content-end">
              <div class="col-7 text-muted p-3 lh-sm">
                <%= board.created_at.to_s(:datetime_jp) %>
              </div>
            </div>
          <div class="row justify-content-center">
            <p class="card-text col-10 text-muted pb-3 mb-0 lh-sm">
              <%= board.content.truncate(100)%>
            </p>
          </div>
        </div>
      </div>
    <% end %>

    <small class="d-block text-end mt-3">
      <%= paginate @boards %>
    </small>
  </div>
  </div>