<%= render "shared/header" %>

<div class="container py-3">
  <%= form_with model: @board, class: "row g-3", local: true do |f| %>
    
    <%= render 'shared/error_messages', model: f.object %>

    <div class="col-md-7">
      <%= f.label :title, class: 'form-label' %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    
    <div class="col-10">
      <%= f.label :content, class: 'form-label' %>
      <%= f.text_area :content, class: 'form-control', rows: "10" %>
    </div>

    <div class="col-md-3">
      <%= f.label :want_id, "Wanted", class: 'form-label' %>
      <%= f.collection_select(:want_id, Want.all, :id, :name, {}, {class:"form-select"}) %>
    </div>

    <div class="col-md-3">
      <%= f.label :prefecture_id, "Prefecture", class: 'form-label' %>
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"form-select"}) %>
    </div>
    
    <div class="col-12">
      <%= f.submit "Post", class: "btn btn-secondary"%>
    </div>

  <% end %>
</div>