<%= render "shared/header" %>

  <% @messages.each do |m| %>
    <% if m.user_id == current_user.id %>
      <div class="d-flex justify-content-end">
        <% if m.user.avatar.present? %>
          <%= link_to image_tag(m.user.avatar, class:'small-round-img'), user_path(m.user.id) %>
        <% else %>
          <%= link_to image_tag("blank-profile-picture-g3e5129d24_640.png", class: "small-round-img avatar-prev"), user_path(m.user.id) %>
        <% end %>
          <div class="pt-3 lh-sm">
          <div class="my-message-field">
          <%= m.content %>
          </div>
          <div class="ms-3 mt-1">
            <%= m.created_at.to_s(:datetime_jp)%>
          </div>
        </div>
      </div>
    <% else %>
      <div class="d-flex justify-content-start">
        <% if m.user.avatar.present? %>
          <%= link_to image_tag(m.user.avatar, class:'small-round-img'), user_path(m.user.id) %>
        <% else %>
          <%= link_to image_tag("blank-profile-picture-g3e5129d24_640.png", class: "small-round-img avatar-prev"), user_path(m.user.id) %>
        <% end %>
        <div class="pt-3 lh-sm">
          <div class="other-message-field">
          <%= m.content %>
          </div>
          <div class="ms-3 mt-1">
            <%= m.created_at.to_s(:datetime_jp)%>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<hr>